.animes {
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

.deletar {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
}

.listagem {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 2px 4px;
    border-radius: 15px;
}

.demografia {
    padding: 2px 8px;
    background-color: yellow;
    border-radius: 15px;
}

.div2 {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}

.botao-anime {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
}